<h2>play history</h2>

<% for (let hand of handsHistory) { %>

<p>hand id: <%= hand.hand_id %></p>

<p>blind level: <%= hand.blind_level %></p>

<p>session date: <%= hand.session_date.toLocaleDateString('en-AU') %></p>

<p>win loss: <%= hand.win_loss %></p>

<p>notes: <%= hand.notes %></p>

<form action="/playhistory/<%= hand.hand_id %>/edit">
    <button>edit hand</button>
</form>

<% } %>